@model Ejemplo1aspnetmvc.Models.producto_compra

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de la compra del producto: </h2>

<div>
    <h4>producto_compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Compra
        </dt>

        <dd>
            @Ejemplo1aspnetmvc.Controllers.ProductoCompraController.NombreCompra(Model.id_compra)
        </dd>

        <dt>
            Producto
        </dt>

        <dd>
          @Ejemplo1aspnetmvc.Controllers.ProductoCompraController.NombreProducto(Model.id_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar el compra del producto", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regrasar a la lista", "Index")
</p>
