@model IEnumerable<Ejemplo1aspnetmvc.Models.compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            Usuario
        </th>
        <th>
            Cliente
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Ejemplo1aspnetmvc.Controllers.ComprasController.NombreUsuario(item.id_usuario)
            </td>
            <td>
                @Ejemplo1aspnetmvc.Controllers.ComprasController.NombreCliente(item.id_cliente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>$(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })</script>
}